.navigation{
    display: flex;
    position: absolute;
    min-width: 234px;
    max-width: 234px;
    min-height: 56px;
    max-height: 56px;
    left: 95px;

    &__categories{
        display: flex;
        align-items: center;
        max-width: 234px;
        max-height: 56px;
        text-transform: uppercase;
        text-align: center;

                a{
                    cursor: pointer;
                    padding-left: 16px;
                    padding-right: 16px;
                    align-items: flex-end;
                    min-width: 97px;
                    max-width: 97px;
                    min-height: 56px;
                    max-height: 56px;
                    
                &.active{
                    font-weight: 600;
                    color: $light-green;
                    border-bottom: 1.5px solid $light-green;
                }

                @media(max-width:360px){
                    padding-left: 4px;
                    padding-right: 4px;
                    // min-width: 70px;
                    max-width: 70px;
                    // min-height: 36px;
                    max-height: 36px;
                    }
    }

    @media(max-width:360px){
        // min-width: 150px;
        max-width: 300px ;
        }
    }
    @media(max-width:360px){
        left: 30px;
        font-size: 14px;
        // min-width: 150px;
        max-width: 300px ;
        }
}
