.gallery{
    display: flex;

    &.unactive{
        opacity: 60%;
    }

    &__main{
        position: relative;
        min-width: 610px;
        max-width: 610px;
        max-height: 511px;
        min-height: 511px;
        margin: 0 100px 0 40px;
    
        img{
            max-width: 610px;
            max-height: 511px;
            min-height: 511px;
        }

        p{
            position: absolute;
            left: 30%;
            top: 50%;
            text-transform: uppercase;
            font-size: 34px;
            opacity: 60%;
        }
    }
    
    &__slider{
        min-width: 55px;
        display: flex;
        flex-direction: column;
        margin: -20px 0;
    }

    &__item{
        min-width: 80px;
        min-height: 80px;

        img{
            cursor: pointer;
            max-width: 80px;
            max-height: 80px;
            margin: 20px 0;
        }
    }
    
}
