
.modal{
    position: absolute;
    max-width: 100%;
    min-width: 1440px;
    min-height: 100vh;
    max-height: 100vh;
    top: 75px;
    left: 0;
    z-index: 16;
    background: rgba(57, 55, 72, 0.22);
    display: flex;
    justify-content: flex-end;
    padding-right: 5.5rem;

    &__header{
        display: flex;
        max-width: 100%;
        min-width: 100%;
        text-align: left;
        padding-bottom: 20px;

        p{
            &:first-child{
                font-weight: 700;
                padding-right: 5px;
            }
        }
    }

    &__content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 32px 16px;
        min-width: 325px;
        max-width: 325px;
        max-height: 677px;
        background: #FFFFFF;

        &-info{
            display: flex;
            text-align: left;
            justify-content: space-between;
            min-width: 325px;
            padding: 20px 5px 30px;

            p{
                padding: 0 13px;  
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 18px;
            }
        }

        &-bottom{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            min-width: 292px;
            max-height: 43px;
        }
        
    }
    &__products{
        overflow: scroll;
        margin: 20px 0;
    }

}


