.select{
    position: relative;
    left: 50px;
    bottom: 81px;
    min-width: 114px;
    min-height: 169px;
    
    &__label{
        display: flex;
        align-items: center;
        background-color: white;
        border: none;
        position: absolute;
        left: 20px;
        min-width: 38px;
        min-height: 29px;
        max-width: 38px;
        max-height: 29px;
        
            & span{
                min-height: 29px;
                min-width: 32px;
                max-width: 32px;
                max-height: 29px;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 160%;
                color: $black;
                cursor: pointer;
            }
        
            & svg{
                transform: matrix(1, 0, 0, -1, 0, 0);
            }
        }

        &__popup{
            z-index: 6;
            display: flex;
            justify-content: center;
            position: absolute;
            top: 40px;
            right: 0;
            box-shadow: 0 4px 35px rgba(168, 172, 176, 0.19);
            text-align: left;
            font-weight: 500;
            font-size: 18px;
            min-width: 114px;
            min-height: 169px;
            max-width: 114px;
          
            ul{ 
                padding: 15px 0;
                li{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    min-width: 114px;
                    min-height: 45px;
                    max-width: 114px;
                    max-height: 45px;
                    text-align: center;

                    &:hover {
                        background: rgba(36, 36, 36, 0.05);
                      }
              
                      &.active {
                        background: #EEEEEE;
                      }
                }
            }
        }
    }
