@import './variables.scss';
@import 'fonts';
@import './components/all.scss';
@import './libs/normalize.scss';

body {
    background-color: $background;
    color: $black;
  }

.wrapper {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 100px);
    height: 100%;
    background-color: #fff;
    margin: 50px auto;
    max-width: 1400px;
    overflow: hidden;
  
    @media(max-width:645px){
      width: calc(100vw - 100px);
      margin-top: 15px;
    }

    &__header{
        min-width: 1440px;
        max-width: 1440px;
        min-height: 80px;
        max-height: 80px;
    }

    &__content{
        padding-bottom: 300px;
    }
  }


.navigation{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;

    position: absolute;
    width: 234px;
    height: 56px;
    left: 101px;
    bottom: 0;
}

.button{

    &--currency{
        width: 38px;
        height: 29px;
    }

    &--cart{
        width: 20px;
        height: 20px;
        position: absolute;
        left: 80%;
        right: 0%;
        top: 5.84%;
        cursor: pointer;
        z-index: 3;
    }

    &--modal{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 16px 32px;
        width: 140px;
        height: 43px;
        border: 1px solid #1D1F22;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        cursor: pointer;
        text-align: center;

        &--check{
            background-color: $light-green;
            color: white;
            border: none;
        }
    }
}

.title  {
    position: absolute;
    width: 299px;
    height: 68px;
    top: 160px;
    left: calc(50% - 299px/2 - 469.5px);
    display: flex;
    align-items: center;
}

h2{
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 160%;
}

.--space-base{
    width: 24px;
    height: 24px;
    opacity: 0;
}

.--spacer-xl{
    width: 40px;
    height: 40px;
    opacity: 0;
}

.border{
    // position: absolute;
    width: 1240px;
    height: 1px;
    // left: 100px;
    // top: 592px;
    background: $grey;
}


